{% extends 'layout.html' %}
{% load static %}
{% block title %} Error 404 {% endblock %}
{% block style %}
{% endblock %}
{% block body %}

<main id="main" style="margin-top:100px;">
    <div class="row justify-content-center">
          <div class="col-md-10">
              <div class="card card-profile">
                  <div class="card-body">
                      <h6 class="card-category text-gray">Error 404</h6>
                      <h4 class="card-title">
                          Page not found
                      </h4>
                      <a href="/" class="btn btn-primary btn-round btn-sm">Home</a>
                  </div>
              </div>
          </div>
    </div>
</main>

{% endblock body %}