{% extends 'layout.html' %}
{% load static %}
{% block title %} Images {% endblock %}
{% block style %}
<style>
</style>
{% endblock %}

{% block body %}
  <main id="main" style="margin-top:78px;">

    <!-- ======= Popular Courses Section ======= -->

      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Popular Choice by users</h2>
          <p>Images</p>
        </div>

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
          <div class="container" data-aos="fade-up">

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
              {% for portfolio in portfolios %}
              <div class="col-lg-4 col-md-6 portfolio-item">
                <img src="{{ portfolio.file.url }}" class="img-fluid" alt="{{ portfolio.title }}">
                <div class="portfolio-info">
                  <h4>{{ portfolio.title }}</h4>
                  <p style="font-size: 11px">Uploaded by <a href="{% url 'profile' username=portfolio.user.username %}">{{portfolio.user}}</a></p>
                  <a href="{{ portfolio.file.url }}" data-gall="portfolioGallery" class="venobox preview-link" title="{{ portfolio.title }}">
                    <i class="bx bx-show-alt"></i>
                  </a>
                  <a href="{{ portfolio.file.url }}" class="details-link" title="Download" download>
                    <i class='bx bxs-download pl-2'></i>
                  </a>
                </div>
              </div>
              {% endfor %}
            </div>

          </div>
        </section>
        <!-- End Portfolio Section -->

      </div>

    <!-- End Popular Courses Section -->

  </main><!-- End #main -->

{% block script %}

{% endblock script %}

{% endblock body %}