{% extends 'layout.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block style %}
<style>
  .btn-sm {
      padding: 2px 8px;
      font-size: 10px;
      border-radius: 5px;
  }
  .custom-button {
    font-size:0.5em;
    padding:2px;
  }
  /* Rounded pill classes for horizontal sides */
  .rounded-pill-left {
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
  }
  .rounded-pill-right {
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
  }

  /* Another classes to use */
  .rounded-t-l-0 {
    border-top-left-radius: 0 !important;
  }
  .rounded-t-r-0 {
    border-top-right-radius: 0 !important;
  }
  .rounded-b-l-0 {
    border-bottom-left-radius: 0 !important;
  }
  .rounded-b-r-0 {
    border-bottom-right-radius: 0 !important;
  }
  .rounded-x-l-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .rounded-x-r-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
</style>
{% endblock %}

{% block body %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h2 style="font-size: 40px;">Only Your,<br> Creativity Matter</h2>
      <h2>The best free stock photos shared by Gifted Creators.</h2>
      <form action="{% url 'search' %}" method="get">
          <div class="row">
            <div class="col-md-12 mt-5">
              <div class="input-group">
                <input class="form-control p-4 border rounded-pill-left border-right-0" name="q" type="search" placeholder="Find the free stock photos and video..." id="example-search-input">
                <span class="input-group-append">
                  <button class="btn btn-outline-secondary border rounded-pill-right border-left-0 pl-5 pr-5" type="button">
                      <i class="bx bx-search-alt bx-spin" style="color:	white"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
      </form>
    </div>

  </section>
  <!-- End Hero -->

  <!-- #main Section -->
  <main id="main">

    <!-- ======= Features Section ======= -->
    <section id="features" class="features mt-5">
      <div class="container" data-aos="fade-up">
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-movie-line" style="color: #ffbb2c;"></i>
              <h3><a href="{% url 'video' %}">Videos</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-image-line" style="color: #5578ff;"></i>
              <h3><a href="{% url 'image' %}">Images</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-music-line" style="color: #e80368;"></i>
              <h3><a href="{% url 'music' %}">Musics</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="ri-loader-line" style="color: #e361ff;"></i>
              <h3><a href="#">Coming Soon</a></h3>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Features Section -->

    <!-- ======= Popular Courses Section ======= -->

      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Popular Choice by users</h2>
          <p>Images</p>
        </div>

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
          <div class="container" data-aos="fade-up">

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
              {% for portfolio in portfolios %}
              {% if portfolio.status == 'Approved' %}
              <div class="col-lg-4 col-md-6 portfolio-item">
                <img src="{{ portfolio.file.url }}" class="img-fluid" alt="{{ portfolio.title }}">
                <div class="portfolio-info">
                  <h4 style="text-transform: capitalize;">{{ portfolio.title }}</h4>
                  <p style="font-size: 11px">Uploaded by <a href="{% url 'profile' username=portfolio.user.username %}">{{portfolio.user}}</a></p>
                  <a href="{{ portfolio.file.url }}" onclick="views({{portfolio.id}})" data-gall="portfolioGallery" class="venobox preview-link" title="{{ portfolio.title }}">
                    <i class="bx bx-show-alt"></i>
                  </a>
                  <a href="{{ portfolio.file.url }}" onclick="dow({{portfolio.id}})" class="details-link" title="Download" download>
                    <i class='bx bxs-download pl-2'></i>
                  </a>
                  <div style="font-size: 11px" class="mt-1">
                    {% if user.is_authenticated %}
                      {% if user.username in portfolio.likes %}
                        <button type="submit" onclick="like({{portfolio.id}});" name="post_id" id="ul{{portfolio.id}}" value="{{portfolio.id}}" class="btn btn-primary btn-sm">Unlike</button>
                      {% else %}
                        <button type="submit" onclick="like({{portfolio.id}});" name="post_id" id="l{{portfolio.id}}" value="{{portfolio.id}}" class="btn btn-primary btn-sm">Like</button>
                      {% endif %}
                    {% else %}
                      <a class="btn btn-outline-info btn-sm mt-2 mb-2" href="{% url 'login' %}">Log in</a><br>
                    {% endif %}
                      <strong class="text-secondary" ><i class='bx bxs-like pl-2'></i> <span id="total_likes{{portfolio.id}}">{{portfolio.number_of_liked}}</span></strong>
                    &nbsp &nbsp
                    <span  id="views{{portfolio.id}}">Views: {{portfolio.views}}</span>
                    <span id="dow{{portfolio.id}}">Downloads: {{portfolio.total_downloads}}</span>
                    <div class="float-right">
                      <span>Share: </span>
                      <a target="_blank" href="https://twitter.com/share?url={{portfolio.file.url}}&text={{ portfolio.title }}&hashtags=Pixzium">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a target="_blank" href="https://www.facebook.com/sharer.php?u={{portfolio.file.url}}">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>

          </div>
        </section>
        <!-- End Portfolio Section -->

      </div>

    <!-- End Popular Courses Section -->

  </main>
  <!-- End #main -->

{% block script %}
<script>
function like(id){

var v=id.toString();
console.log("like button");
v=parseInt(v);
console.log(v);
$.ajax({
url:"{% url 'imagelikes' %}",
method:"POST",
data:{'id':v},
success:function(data){
document.getElementById("total_likes"+v).innerHTML=data['total_likes'];
if(data['liked']){
console.log(data['liked']);
console.log("l"+data['id']);
document.getElementById("l"+data['id']).innerHTML="Unlike";

}
else{
console.log(data['liked'])
console.log("ul"+data['id']);
document.getElementById("l"+data['id']).innerHTML="Like";
}
console.log("success");
},
});
}

function views(id){
console.log("views clicked");
var idstr=id;
if(localStorage.getItem('images')==undefined)
var images={};
else{
var images=localStorage.getItem('images');
images=JSON.parse(images);}
console.log(images);
console.log(idstr);
if(images['id'+idstr]==undefined){
$.ajax({
url:"{% url 'saveviews' %}",
method:"GET",
data:{'obj':idstr ,},
dataType:'json',
success:function(data){
document.getElementById("views"+idstr).innerHTML=data['status'];
images['id'+idstr]=idstr;
console.log("success");
localStorage.setItem('images',JSON.stringify(images));
console.log(data);
},
}
);}

};
</script>
{% endblock script %}

{% endblock body %}