{% extends 'layout.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block style %}
<style>
  .custom-button {
    font-size:0.5em;
    padding:2px;
  }
  /* Rounded pill classes for horizontal sides */
  .rounded-pill-left {
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
  }
  .rounded-pill-right {
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
  }

  /* Another classes to use */
  .rounded-t-l-0 {
    border-top-left-radius: 0 !important;
  }
  .rounded-t-r-0 {
    border-top-right-radius: 0 !important;
  }
  .rounded-b-l-0 {
    border-bottom-left-radius: 0 !important;
  }
  .rounded-b-r-0 {
    border-bottom-right-radius: 0 !important;
  }
  .rounded-x-l-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .rounded-x-r-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
</style>
{% endblock %}

{% block body %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>You,<br> Matter</h1>
      <h2>The best free stock photos shared by Gifted Creators.</h2>
      <form action="{% url 'search' %}" method="get">
          <div class="row">
            <div class="col-md-12 mt-5">
              <div class="input-group">
                <input class="form-control p-4 border rounded-pill-left border-right-0" name="q" type="search" placeholder="Find the free stock photos and video..." id="example-search-input">
                <div class="input-group-prepend">
                    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Image</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" name="v">Video</a>
                    </div>
                </div>
                <span class="input-group-append">
                  <button class="btn btn-outline-secondary border rounded-pill-right border-left-0 pl-5 pr-5" type="button">
                      <i class="bx bx-search-alt bx-spin" style="color:	white"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
      </form>
    </div>

  </section>
  <!-- End Hero -->

  <!-- #main Section -->
  <main id="main">

    <!-- ======= Features Section ======= -->
    <section id="features" class="features mt-5">
      <div class="container" data-aos="fade-up">
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-movie-line" style="color: #ffbb2c;"></i>
              <h3><a href="{% url 'video' %}">Videos</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-image-line" style="color: #5578ff;"></i>
              <h3><a href="{% url 'image' %}">Images</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-music-line" style="color: #e80368;"></i>
              <h3><a href="#">Musics</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="ri-loader-line" style="color: #e361ff;"></i>
              <h3><a href="#">Coming Soon</a></h3>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Features Section -->

    <!-- ======= Popular Courses Section ======= -->

      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Popular Choice by users</h2>
          <p>Images</p>
        </div>
        {% for portfolio in portfolios %}
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
          <div class="container" data-aos="fade-up">

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

              <div class="col-lg-4 col-md-6 portfolio-item">
                <img src="{{ portfolio.file.url }}" class="img-fluid" alt="{{ portfolio.title }}">
                <div class="portfolio-info">
                  <h4>{{ portfolio.title }}</h4>
                  <p style="font-size: 11px">Uploaded by <a href="{% url 'profile' username=portfolio.user.username %}">{{portfolio.user}}</a></p>
                  <a href="{{ portfolio.file.url }}" data-gall="portfolioGallery" class="venobox preview-link" title="{{ portfolio.title }}">
                    <i class="bx bx-show-alt"></i>
                  </a>
                  <a href="{{ portfolio.file.url }}" class="details-link" title="Download" download>
                    <i class='bx bxs-download pl-2'></i>
                  </a>
                </div>
              </div>

            </div>

          </div>
        </section>
        <!-- End Portfolio Section -->
        {% endfor %}
      </div>

    <!-- End Popular Courses Section -->

  </main>
  <!-- End #main -->

{% block script %}

{% endblock script %}

{% endblock body %}