<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %} {% endblock %} | Pixzium </title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'favicon.png' %}" rel="icon">
  <link href="{% static 'apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!--  Video.js -->
  <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <!-- Forest -->
  <link href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  {% block head %}

  {% endblock %}


  {% block style %}

  {% endblock %}
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="{% url 'index' %}">Pix<span style="background-color:white">zium</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
<!--      <a href="{% url 'index' %}" class="logo mr-auto"><img src="{% static 'logo.png' %}" alt="" class="img-fluid"></a>-->
      <a href="{% url 'upload' %}" class="get-started-btn" {% if request.path != '/' and request.path != '/video/' and request.path != '/image/' and request.path != '/music/' %} style="display: none;" {% endif %}>Upload</a>
      <a href="#" class="get-started-btn" {% if request.path != '/upload/' %} style="display: none;" {% endif %}>About Us</a>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li {% if request.path != '/video/' %} style="display: none;" {% endif %}><a href="{% url 'image' %}">Image</a></li>
          <li {% if request.path != '/' and request.path != '/image/' %} style="display: none;" {% endif %}><a href="{% url 'video' %}">Video</a></li>
          <li class="drop-down" {% if request.user.is_authenticated %} style="display: none;" {% endif %}><a href="#"><i class="ri-settings-3-line"></i></a>
            <ul>
              <li><a href="{% url 'image' %}">Image</a></li>
              <li><a href="{% url 'music' %}">Music</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'register' %}">Sign In</a></li>
            </ul>
          </li>
          {% if request.user.is_authenticated %}
            <li class="drop-down"><a href="#">Account</a>
              <ul>
                <li class="pt-2" style="padding-left:20px;"><span style="">{{request.user.first_name}} {{request.user.last_name}}</span></li>
                <li><a href="{% url 'image' %}">Image</a></li>
                <li><a href="{% url 'music' %}">Music</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
          {% endif %}

        </ul>
      </nav>
      <!-- .nav-menu -->

    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Section ======= -->
  {% block body %}

  {% endblock %}
  <!-- End Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 footer-contact">
            <h3>PIXZIUM</h3>
            <p>
              Dolpin Connects, Near Ramamurthy Nagar Signal, <br>
              Bengaluru, 560043<br>
              India <br><br>
              <strong>Phone:</strong> +91 9535594891<br>
              <strong>Email:</strong> <a href="mailto:info@wittymindstech.com">info@wittymindstech.com</a><br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Pixzium</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://wittymindstech.com/">WittyMinds Technology</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.twitter.com/wittymindstech1" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.youtube.com/c/wittymindstechnologies" class="facebook"><i class="bx bxl-youtube"></i></a>
        <a href="https://www.instagram.com/wittymindstech/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://github.com/wittymindstech" class="google-plus"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/wittymindstech/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <!--  <div id="preloader"></div>-->

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/js/green-audio-player.min.js"></script>
  <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
  <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>

</body>
</html>