{% extends 'layout.html' %}
{% load static %}
{% block title %} Music's {% endblock %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/css/green-audio-player.min.css">
{% endblock %}
{% block body %}
  <main id="main" style="margin-top:78px;">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <p>Recent Music's</p>
          <h2></h2>
        </div>

        <div class="row portfolio-container">
          {% for portfolio in portfolio %}

          <div class="col-lg-4 col-md-6 portfolio-item">
              <div class="gap-example">
                  <audio>
                      <source src="{{ portfolio.file.url }}" type="audio/mpeg">
                  </audio>
              </div>
          </div>

          {% endfor %}
        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

{% endblock body %}