{% extends 'layout.html' %}
{% load static %}
{% block title %} Account {% endblock %}
{% block head %}
<head>
    <link rel="stylesheet" href="{% static 'profile_assets/css/vendor/iconfont.min.css' %}">
    <link rel="stylesheet" href="{% static 'profile_assets/css/vendor/helper.css' %}">
    <link rel="stylesheet" href="{% static 'profile_assets/css/plugins/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'profile_assets/css/style.css' %}">
    <!-- Modernizr JS -->
    <script src="{% static 'profile_assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>
{% endblock %}
{% block body %}
    <div id="main">
        {% if request.user.is_authenticated %}
        <!-- Page Banner Section Start -->
        <div class="page-banner-section section">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <div class="page-banner text-left">
                            <h2>My Account</h2>
                            <ul class="page-breadcrumb">
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li>My Account</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Page Banner Section End -->
        <!--My Account section start-->
        <div class="my-account-section section pt-10 pt-lg-10 pt-md-60 pt-sm-50 pt-xs-45  pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <div class="row">
                            <!-- My Account Tab Menu Start -->
                            <div class="col-lg-3 col-12">
                                <div class="myaccount-tab-menu nav" role="tablist">
                                    <a href="#dashboad" class="active" data-toggle="tab"><i class="fa fa-dashboard"></i>
                                        Dashboard</a>

                                    <a href="#images" data-toggle="tab"><i class="fas fa-images"></i> Images</a>

                                    <a href="#videos" data-toggle="tab"><i class="fas fa-video"></i> Video</a>

                                    <a href="#musics" data-toggle="tab"><i class="fas fa-music"></i> Music</a>

                                    <a href="#account-info" data-toggle="tab"><i class="fas fa-user-alt"></i> Account Details</a>
                                </div>
                            </div>
                            <!-- My Account Tab Menu End -->

                            <!-- My Account Tab Content Start -->
                            <div class="col-lg-9 col-12">
                                <div class="tab-content" id="myaccountContent">
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade show active" id="dashboad" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Dashboard</h3>

                                            <div class="welcome mb-20">
                                                <p>Hello, <strong>{{request.user.first_name}} {{request.user.last_name}}</strong></p>
                                            </div>

                                            <p class="mb-0">From your account dashboard. you can easily check &amp; view your
                                                recent Upload, manage your account.</p>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->

                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade" id="images" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Images</h3>

                                            <section id="portfolio" class="portfolio">
                                              <div class="container">
                                                <div class="row portfolio-container">
                                                  {% for im in image %}

                                                  <div class="col-lg-4 col-md-6 portfolio-item">
                                                    <div class="portfolio-wrap">
                                                      <img src="{{ im.file.url }}" class="img-fluid" alt="{{ im.title }}">
                                                      <div class="portfolio-info">
                                                        <h4>{{ im.title }}</h4>
                                                      </div>
                                                    </div>
                                                  </div>

                                                  {% endfor %}
                                                </div>

                                              </div>
                                            </section>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->

                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade" id="videos" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Videos </h3>
                                            <section class="portfolio">
                                              <div class="container">

                                                <div class="row portfolio-container">
                                                  {% for portfolio in video %}

                                                  <div class="col-lg-2 col-md-6 portfolio-item">
                                                      <video id="my-video" onclick="videoviews({{portfolio.id}})" class="video-js vjs-theme-forest" controls preload="auto" width="260" height="164" data-setup="{}">
                                                        <source src="{{ portfolio.file.url }}" type="video/mp4">
                                                      </video>
                                                      <div class="mx-auto my-1 ml-2 col-lg-12 d-block" style="font-size: 10px;">
                                                        <div class="row">
                                                          <span class="font-weight-bold" id="views{{portfolio.id}}">Views: {{portfolio.views}} <i class="fas fa-eye mr-1"></i> </span>
                                                          <a class="ml-2 font-weight-bold" href="{{ portfolio.file.url }}" download> | &nbsp;&nbsp;<i class="fas fa-download"></i></a>
                                                        </div>
                                                      </div>
                                                  </div>

                                                  {% endfor %}
                                                </div>

                                              </div>
                                            </section>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->

                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade" id="musics" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Musics </h3>
                                            <section class="portfolio">
                                              <div class="container">
                                                <div class="row portfolio-container">
                                                  {% for portfolio in music %}

                                                  <div class="col-lg-4 col-md-6 portfolio-item">
                                                      <audio id="{{portfolio.id}}" onplay="views({{portfolio.id}});"  style="margin-top:10px;margin-bottom:10px"   controls   download>
                                                         <source  src="{{ portfolio.file.url }}"  name="{{portfolio.file.name}}" type="audio/mp3" download="{{portfolio.file.name}}">
                                                      </audio>
                                                      <div class="mx-auto my-1 col-lg-12 d-block" style="font-size: 10px;">
                                                        <p class="float-left">
                                                          <span class="font-weight-bold">&nbsp Title: {{portfolio.title}}</span>
                                                          <span class="font-weight-bold">&nbsp Views: {{portfolio.views}}</span>
                                                        </p>
                                                      </div>
                                                  </div>

                                                  {% endfor %}
                                                </div>

                                              </div>
                                            </section>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->

                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade" id="account-info" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Account Details</h3>

                                            <div class="account-details-form">
                                                <form action="#">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-12 mb-30">
                                                            <input id="first-name" placeholder="{{request.user.first_name}}" disabled type="text">
                                                        </div>

                                                        <div class="col-lg-6 col-12 mb-30">
                                                            <input id="last-name" placeholder="{{request.user.last_name}}" disabled type="text">
                                                        </div>

                                                        <div class="col-12 mb-30">
                                                            <input id="display-name" placeholder="{{request.user.username}}" disabled type="text">
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->
                                </div>
                            </div>
                            <!-- My Account Tab Content End -->
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!--My Account section end-->
        {% endif %}
    </div>
    <hr>

    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- All jquery file included here -->
    <script src="{% static 'profile_assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'profile_assets/js/plugins/plugins.js' %}"></script>
    <script src="{% static 'profile_assets/js/main.js' %}"></script>

{% endblock body %}