{% extends 'layout.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block style %}
{% endblock %}
{% block body %}

  <main id="main" style="margin-top:100px;">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <p>Images Found</p>
          <h2></h2>
        </div>

        <div class="row portfolio-container">
          {% for search in object_list %}

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="{{ search.file.url }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{ search.title }}</h4>

                <p style="font-size: 11px">Uploaded by {{search.user}} </p>

                <div class="portfolio-links" id="no-link">
                  <a href="{{ search.file.url }}" data-gall="portfolioGallery" class="venobox" title="View Image">
                    <i class="bx bx-show-alt"></i>
                  </a>
                  <a download href="{{ search.file.url }}" title="Download" target="_blank">
                    <i class='bx bxs-download pl-2'></i>
                  </a>
                  <a href="#" title="Hire Me">
                    <button type="button" class="float- custom-button btn-danger btn-sm">Hire Me</button>
                  </a>

                </div>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>

      </div>
    </section>
    <!-- End Portfolio Section -->

  </main>

{% endblock body %}