{% extends 'layout.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block style %}
{% endblock %}
{% block body %}

  <main id="main" style="margin-top:100px;">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <p>Images Found</p>
          <h2></h2>
        </div>

        <div class="row portfolio-container">
          {% for search in object_list %}

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="{{ search.image.url }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{ search.title }}</h4>
                <div class="portfolio-links">
                  <a href="{{ search.image.url }}" data-gall="portfolioGallery" class="venobox" title="{{ search.title }}">
                    <i class="bx bx-show-alt"></i>
                  </a>
                  <a href="{{ search.image.url }}" title="{{ search.title }}" download>
                    <i class='bx bxs-download pl-2'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>

      </div>
    </section>
    <!-- End Portfolio Section -->

  </main>

{% endblock body %}