{% extends 'layout.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block style %}
{% endblock %}
{% block body %}

  <main id="main" style="margin-top:60px;">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <p>Item Found</p>
          <h2></h2>
        </div>

        <div class="row portfolio-container">
          {% for search in object_list %}

          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-wrap">
              <img src="{{ search.file.url }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{ search.title }}</h4>

                <p style="font-size: 11px">Uploaded by <a href="{% url 'profile' username=search.user.username %}">{{search.user}} </a></p>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>

      </div>
    </section>
    <!-- End Portfolio Section -->

  </main>

{% endblock body %}