{% extends 'layout.html' %}
{% load static %}
{% block title %} Subscription {% endblock %}
{% block style %}
<style>
</style>
{% endblock %}

{% block body %}
  <main id="main" style="margin-top:78px;">
      <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Subscription Plan</h2>
        <p>We will soon provide you best Subscription Plan.</p>
      </div>
    </div>
      <!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="row d-flex justify-content-center">

          <p>Coming Soon</p>

        </div>

      </div>
    </section>
      <!-- End Pricing Section -->

  </main><!-- End #main -->

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock script %}

{% endblock body %}