{% extends 'layout.html' %}
{% load static %}
{% block title %} Video's {% endblock %}
{% block style %}
<style>
</style>
{% endblock %}

{% block body %}
  <main id="main" style="margin-top:78px;">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <p>Recent Video's</p>
          <h2></h2>
        </div>

        <div class="row portfolio-container">
          {% for portfolio in portfolio %}

          <div class="col-lg-4 col-md-6 portfolio-item">
              <video id="my-video" onclick="videoviews({{portfolio.id}})" class="video-js vjs-theme-forest" controls preload="auto" width="360" height="264" data-setup="{}">
                <source src="{{ portfolio.file.url }}" type="video/mp4">
              </video>
              <div class="mx-auto my-1 col-lg-12 d-block" style="font-size: 12px;">
                <p class="float-left">
                  <span class="font-weight-bold">Uploaded by:</span> <a href="{% url 'profile' username=portfolio.user.username %}">{{portfolio.user}}</a>
                </p>
                <p class="float-right">
                  <span class="font-weight-bold" id="views{{portfolio.id}}">Views: {{portfolio.views}}</span>
                  <a class="ml-2" href="{{ portfolio.file.url }}" download> Download</a>
                </p>
              </div>
          </div>

          {% endfor %}
        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

{% block script %}
<script>
console.log(document.getElementById("1").duration);

  function videoviews(id){

  console.log("inside views");
  var idstr=id.toString();
console.log(localStorage.getItem('video'));
if(localStorage.getItem('video')==undefined)
var video={};
else{
var video=localStorage.getItem('video');
video=JSON.parse(video);}
console.log(video);
console.log(video);
if(video['id'+idstr]==undefined){
$.ajax({
url:"{% url 'save_video_views' %}",
method:"GET",
data:{'obj':idstr ,},
dataType:'json',
success:function(data){
document.getElementById("views"+idstr).innerHTML=data['status'];

video['id'+idstr]=idstr;
console.log("success");
localStorage.setItem('video',JSON.stringify(video));

},
}
);}
  }
</script>
{% endblock script %}

{% endblock body %}