{% extends 'layout.html' %}
{% load static %}
{% block title %} Video's {% endblock %}
{% block style %}
<style>
</style>
{% endblock %}

{% block body %}
  <main id="main" style="margin-top:78px;">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <p>Recent Video's</p>
          <h2></h2>
        </div>

        <div class="row portfolio-container">
          {% for portfolio in portfolio %}

          <div class="col-lg-4 col-md-6 portfolio-item">
              <video id="my-video" class="video-js vjs-theme-forest" controls preload="auto" width="360" height="264" data-setup="{}">
                <source src="{{ portfolio.file.url }}" type="video/mp4">
              </video>
              <div class="mx-auto my-1 col-lg-12 d-block" style="font-size: 10px;">
                <p class="float-left">
                  <span class="font-weight-bold">Uploaded by:</span> <a href="{% url 'profile' username=portfolio.user.username %}">{{portfolio.user}}</a>
                </p>
                <p class="float-right">
                  <span class="font-weight-bold">Views:</span> 2
                </p>
              </div>
          </div>

          {% endfor %}
        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

{% block script %}

{% endblock script %}

{% endblock body %}